* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #101723;
    font-size: 2rem;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7rem;
}

.titulo {
    color: #ffffff;
}

.menu {
    color: #ffffff;
    display: flex;
    gap: 3rem;
    list-style: none;

    a {
        text-decoration: none;
        color: #ffffff;
    }
}

.sobre {
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-sobre {
    height: 35rem;
    width: 35rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img {
        height: 12rem;
        width: 12rem;
        border-radius: 50%;
    }

    h3 {
        color: #1c60ee;
    }

    p {
        text-align: center;
    }
}

.projetos {
    height: 35rem auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    h3 {
        text-align: center;
        margin-top: 1rem;
    }

    img {
        width: 40rem;
        height: 30rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/banner.jpg);
        border-radius: 20px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }
}

footer {
    height: 10rem;
}
