* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #181d2b;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 0 2rem;
    align-items: center;
    height: 4.5rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    color: #1c60ee;
    font-size: 2.5rem;
}

.menu {
    color: #ffffff;
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.1rem;
    
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.9s;
}
.menu a:hover {
    color: #1c60ee;
}

.hamburguer {
    display: none;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
}

.sobre {
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre h2 {
    font-size: 2rem;
    text-align: justify;
}

.card-sobre {
    height: 35rem;
    width: 35rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}



.foto-container {
    height: 12rem;
    width: 12rem;
    overflow: hidden;   
    border-radius: 50%; 
}

.foto-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; 
}

.card-sobre h3 {
    color: #1c60ee;
    text-align: center;
    font-size: 1.8rem;    
}

.card-sobre p {
    text-align: center;
}

.projetos {
    margin-top: 1rem;
    height: 35rem auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    h2 {
        text-align: center;
        margin-top: 5rem;
        font-size: 1.9rem;
    }

    img {
        width: 40rem;
        height: 30rem;
        border-radius: 45px;
        cursor: pointer;
        transition: 0.5s;
       }

    img:hover {
        transform: scale(1.05);
    }
}

.projeto-card {
    position: relative;
    width: 100%;
    max-width: 40rem;
    border-radius: 45px;
    overflow: hidden;
}

.projeto-card img {
    width: 100%;
    display: block;
    border-radius: 45px;
    transition: transform 0.5s ease;
}

.projeto-card:hover img {
    transform: scale(1.08);
}

.titulo-projeto {
    position: absolute;
    bottom: 5rem;
    left: 1.5rem;

    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 600;

    background: #102044a7;
    padding: 0.6rem 1.2rem;
    border-radius: 12px;
}

.tags-projeto {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    display: flex;
    gap: 0.8rem;
}

.tag {
    background-color: #1c60ee;
    color: #f7f7f7;
    padding: 0.4rem 1rem;
    border-radius: 999px;
    font-size: 0.9rem;
    font-weight: 500;
}

.overlay-escuro {
    position: absolute;
    inset: 0;
    background:  #1017238c ;
    transition: background 0.4s ease;
}

.projeto-card:hover .overlay-escuro {
    background: #101723bf;
}

.hover-zoom img {
    transition: transform 0.5s ease;
}

.hover-zoom:hover img {
    transform: scale(1.08);
}

.habilidades {
    margin-top: 6rem;
    margin-bottom: 6rem;
    color: #ffffff;
}

.habilidades h2 {
    margin-bottom: 2rem;
    font-size: 1.9rem;
    text-align: center;
}

.lista-habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem;
}

.skill {
    padding: 0.8rem 1.6rem;
    border-radius: 999px;
    background: #1c5fee4e;
    border: 1px solid #ffffff26;
    font-size: 1rem;
    font-weight: 500;
    cursor: default;
}

footer h2 {
    color: white;
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 2rem;
}

footer .contato {
    height: 6rem auto;
    color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: #181d2b5d;
    margin-bottom: 2rem;
}

.social-media {
    background-color: #1c5fee99;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 900px;
    cursor: pointer;
}

.social-media i {
    font-size: 1.3rem; 
}

.social-media a {
    color: white;
    text-decoration: none;
}

.texto-icone {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.5s ease,  transform 1.5s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* Responsividade */

@media (max-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    .menu {
        position: absolute;
        top: 4.5rem;
        right: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        background-color: #181d2b;
        padding: 2rem 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: 0.4s ease;
    }

    .menu.ativo {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .hamburguer {
        display: block;
    }

    .projetos img {
        height: 16rem;
        padding: 1rem;
    }

    .titulo-projeto {
        font-size: 1rem;
    }

    .tag {
        font-size: 0.6rem;

    }
}
